.backgroundImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff; }

.row {
  margin-left: 0;
  margin-right: 0; }

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 35%;
  color: #007791;
  background-color: #fff;
  font-size: 24px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1); }
  .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
    background-color: #fff;
    color: #007791; }
.owl-carousel .owl-nav button.owl-prev {
  left: -30px; }
.owl-carousel .owl-nav button.owl-next {
  right: -30px; }

.myNavbar {
  transition: all .5s;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1); }
  .myNavbar .myNavbar__left {
    display: flex;
    align-items: center; }
    .myNavbar .myNavbar__left .navbar-brand {
      flex-grow: 1;
      text-align: center;
      margin-right: 0; }
      .myNavbar .myNavbar__left .navbar-brand img {
        width: 110px; }
    .myNavbar .myNavbar__left .myNavbar__Categories {
      flex-grow: 1;
      text-align: center;
      cursor: pointer;
      color: #505763;
      font-size: 13px;
      font-weight: normal; }
      .myNavbar .myNavbar__left .myNavbar__Categories i {
        color: #a1a7b3; }
    .myNavbar .myNavbar__left .myNavbar__FormSearch1 {
      flex-grow: 8; }
      .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group {
        background-color: #f2f3f5;
        border-radius: 0.375rem; }
        .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control {
          background-color: transparent;
          border-color: transparent;
          box-shadow: none;
          transition: none;
          color: #505763; }
          .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control::placeholder {
            color: #505763; }
          .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control:focus {
            background-color: #fff;
            border-top-color: #dedfe0;
            border-left-color: #dedfe0;
            border-bottom-color: #dedfe0; }
          .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control:focus + .input-group-text {
            background-color: #fff;
            border-top-color: #dedfe0;
            border-right-color: #dedfe0;
            border-bottom-color: #dedfe0;
            color: #ec5252; }
            .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control:focus + .input-group-text:hover {
              color: #fff;
              background-color: #ec5252; }
        .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .input-group-text {
          background-color: transparent;
          border-color: transparent;
          color: #ec5252; }
          .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .input-group-text:hover {
            color: #fff;
            background-color: #ec5252; }
  .myNavbar .myNavbar__right .navbar-nav {
    justify-content: space-around;
    align-items: center; }
    .myNavbar .myNavbar__right .navbar-nav .nav-item {
      padding: 5px 7px;
      border-radius: 3px;
      position: relative; }
      .myNavbar .myNavbar__right .navbar-nav .nav-item .nav-link {
        color: #505763;
        font-size: 13px;
        font-weight: normal; }
      .myNavbar .myNavbar__right .navbar-nav .nav-item:hover {
        background-color: rgba(20, 23, 28, 0.05); }
        .myNavbar .myNavbar__right .navbar-nav .nav-item:hover .overlay {
          display: block; }
      .myNavbar .myNavbar__right .navbar-nav .nav-item .overlay {
        display: none;
        z-index: 2;
        background-color: #fff;
        width: 330px;
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 56px;
        right: 0;
        border-top: 1px solid rgba(20, 23, 28, 0.05);
        border-left: 1px solid rgba(20, 23, 28, 0.05);
        box-shadow: 0 4px 16px #f7f8fa; }
        .myNavbar .myNavbar__right .navbar-nav .nav-item .overlay::before {
          content: '';
          width: 15px;
          height: 15px;
          background-color: #fff;
          display: block;
          border-top: 1px solid rgba(20, 23, 28, 0.05);
          border-left: 1px solid rgba(20, 23, 28, 0.05);
          position: absolute;
          top: -8px;
          right: 10%;
          transform: rotate(45deg); }
    .myNavbar .myNavbar__right .navbar-nav .myNavbar__cart {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
      .myNavbar .myNavbar__right .navbar-nav .myNavbar__cart .nav-link {
        font-size: 20px; }
    .myNavbar .myNavbar__right .navbar-nav .myNavbar__button {
      display: flex; }
      .myNavbar .myNavbar__right .navbar-nav .myNavbar__button:hover {
        background-color: transparent; }
      .myNavbar .myNavbar__right .navbar-nav .myNavbar__button button {
        font-size: 14px; }
  @media screen and (min-width: 1200px) and (max-width: 1286px) {
    .myNavbar .myNavbar__right .navbar-nav .nav-item {
      white-space: nowrap;
      padding: 5px 5px; }
      .myNavbar .myNavbar__right .navbar-nav .nav-item .nav-link {
        font-size: 12px; }
      .myNavbar .myNavbar__right .navbar-nav .nav-item .overlay {
        white-space: normal; }
    .myNavbar .myNavbar__right .navbar-nav .myNavbar__cart .nav-link {
      font-size: 20px; } }
  @media screen and (max-width: 1200px) {
    .myNavbar .business,
    .myNavbar .instructor {
      display: none; }
    .myNavbar .myNavbar .myNavbar__right .navbar-nav {
      justify-content: space-around; } }
  @media screen and (max-width: 768px) {
    .myNavbar .myNavbar__left .myNavbar__Categories,
    .myNavbar .myNavbar__left .myNavbar__FormSearch1 {
      display: none; }
    .myNavbar .myNavbar__right {
      width: 50%;
      margin-left: auto; }
      .myNavbar .myNavbar__right .navbar-nav {
        text-align: center; }
        .myNavbar .myNavbar__right .navbar-nav .myNavbar__button {
          display: none; } }

footer {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal; }
  footer .footer__top {
    width: 90%;
    margin: 40px auto; }
    footer .footer__top .footer__nav {
      height: 110px; }
      footer .footer__top .footer__nav .nav-item {
        flex-basis: 25%; }
        footer .footer__top .footer__nav .nav-item .nav-link {
          padding: 0;
          color: #007791; }
    footer .footer__top .btn-group {
      display: block; }
      footer .footer__top .btn-group .button--dropup {
        min-width: 160px; }
        footer .footer__top .btn-group .button--dropup i {
          padding: 0 5px; }
        footer .footer__top .btn-group .button--dropup::after {
          margin-left: 30%; }
      footer .footer__top .btn-group .dropdown-menu {
        font-size: 13px;
        text-align: center; }
  footer .footer__bottom {
    width: 90%;
    margin: 30px auto; }
    footer .footer__bottom img {
      width: 110px;
      margin-right: 10px; }
    footer .footer__bottom .nav-link {
      color: #007791;
      font-size: 13px;
      font-weight: normal;
      padding: 0 5px; }
  @media screen and (max-width: 576px) {
    footer .footer__nav {
      height: 150px !important; }
      footer .footer__nav .nav-item {
        flex-basis: 20% !important; } }
  @media screen and (max-width: 768px) {
    footer .footer__bottom .footer__bottomT {
      justify-content: center;
      margin-bottom: 10px; }
    footer .footer__bottom .footer__bottomB ul {
      justify-content: center !important; } }

.intro {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  padding: 20px; }
  .intro .intro__content .intro__items {
    display: flex;
    align-items: center; }
    .intro .intro__content .intro__items .intro__icon {
      color: #fff;
      font-size: 50px;
      padding: 0 25px;
      margin-left: 25px; }
    .intro .intro__content .intro__items .intro__details {
      align-content: center;
      color: #fff; }
      .intro .intro__content .intro__items .intro__details p {
        margin-bottom: 0; }
      .intro .intro__content .intro__items .intro__details p:first-child {
        color: #fff;
        font-size: 17px;
        font-weight: 700; }
        .intro .intro__content .intro__items .intro__details p:first-childp:last-child {
          color: #fff;
          font-size: 14px;
          font-weight: normal; }
  @media screen and (max-width: 1200px) {
    .intro .intro__content .intro__icon {
      display: none; } }
  @media screen and (max-width: 768px) {
    .intro {
      display: none; } }

.courses {
  margin: 25px 0; }
  .courses .courses__content {
    width: 90%;
    margin: auto; }
    .courses .courses__content .row {
      margin-right: 0;
      margin-left: 0; }
    .courses .courses__content .courses__left {
      background-color: rgba(20, 23, 28, 0.05);
      padding: 0 2rem;
      display: flex;
      align-items: center; }
      .courses .courses__content .courses__left h2 {
        color: #29303b;
        font-size: 19px;
        font-weight: normal; }
    .courses .courses__content #myTab {
      margin-bottom: 25px; }
      .courses .courses__content #myTab .nav-item .nav-link {
        color: #29303b;
        font-size: 15px;
        font-weight: normal; }
        .courses .courses__content #myTab .nav-item .nav-link:hover {
          border: 1px solid transparent;
          color: #007791;
          font-size: 15px;
          font-weight: normal; }
        .courses .courses__content #myTab .nav-item .nav-link.active {
          border: none;
          border-bottom: 5px solid #007791; }
  @media screen and (max-width: 1350px) {
    .courses .courses__content .card .card-body .card-title {
      color: #29303b;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 10px; } }
  @media screen and (max-width: 768px) {
    .courses .courses__content .courses__left {
      padding: 10px; } }

.viewIng {
  padding: 22px 0; }
  .viewIng .viewing__content {
    width: 90%;
    margin: auto; }
    .viewIng .viewing__content h2 {
      font-size: 1.25rem; }
  @media screen and (max-width: 1350px) {
    .viewIng .viewing__content .card .card-body .card-title {
      color: #29303b;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 10px; } }

.banner {
  background: url(../img/udemy-logo-semi-transparent.svg) 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 41%);
  background-blend-mode: overlay;
  height: 325px; }
  .banner .banner__content {
    text-align: center; }
    .banner .banner__content h2 {
      color: #fff;
      font-size: 36px;
      font-weight: normal; }
    .banner .banner__content p {
      color: #fff;
      margin-bottom: 0; }
    .banner .banner__content button {
      margin: 10px 0; }
    .banner .banner__content .row button {
      margin: 0;
      border-radius: 10px; }

.categories {
  margin-top: 32px; }
  .categories .categories__content .categories__header {
    padding: 0 12px; }
    .categories .categories__content .categories__header h2 {
      font-size: 24px; }
  .categories .categories__col .categories__items {
    padding: 15px;
    font-size: 18px;
    border: 1px solid rgba(20, 23, 28, 0.1);
    margin-bottom: 15px; }
    .categories .categories__col .categories__items:hover {
      box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px rgba(20, 23, 28, 0.1); }

.students {
  padding: 32px 0; }
  .students .student__content .student__header h2 {
    font-size: 24px;
    margin-bottom: 20px; }

.partners {
  background-color: #f7f8fa;
  padding-top: 20px; }
  .partners .partners__content {
    text-align: center;
    width: 75%;
    margin: 0 auto; }
    .partners .partners__content .partners__header {
      text-align: center;
      font-weight: 600;
      text-transform: uppercase; }
  .partners .partners__img .partners__items .row .col-2 {
    text-align: center; }

.jobs {
  padding-top: 1rem;
  background-color: #f7f8fa; }
  .jobs .jobs__content {
    text-align: center; }
    .jobs .jobs__content .jobs__items {
      padding: 20px;
      max-width: 400px;
      margin: 0 auto; }
      .jobs .jobs__content .jobs__items h2 {
        color: #505763;
        font-size: 19px;
        font-weight: 600; }
  @media screen and (max-width: 768px) {
    .jobs .border-end {
      border-right: none !important;
      border-bottom: 1px solid #dee2e6; } }

.sidebarMini {
  width: 400px;
  position: fixed;
  top: 25%;
  right: 0;
  background-color: #dedfe0;
  z-index: 3;
  transform: translateX(100%);
  transition: all .5s; }
  .sidebarMini .sidebarMini__button {
    color: #29303b;
    background-color: #dedfe0;
    border: 1px solid #dedfe0;
    font-size: 24px;
    font-weight: normal;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
    position: fixed;
    transform: translateX(-100%);
    transition: all .5s; }
  .sidebarMini .sidebarMini__content {
    width: 150px;
    padding: 20px;
    text-align: center; }
    .sidebarMini .sidebarMini__content h2 {
      font-size: 15px; }
    .sidebarMini .sidebarMini__content .switch {
      width: 50px;
      height: 25px;
      margin: 0 10px;
      position: relative; }
      .sidebarMini .sidebarMini__content .switch input {
        display: none; }
        .sidebarMini .sidebarMini__content .switch input:checked + .slider::before {
          transform: translateX(22px); }
      .sidebarMini .sidebarMini__content .switch .slider {
        background-color: #cccccc;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 34px;
        cursor: pointer; }
        .sidebarMini .sidebarMini__content .switch .slider::before {
          display: inline-block;
          content: "";
          width: 18px;
          height: 18px;
          background-color: #fff;
          border-radius: 50%;
          position: absolute;
          bottom: 4px;
          left: 4px;
          transition: all .5s; }
  .sidebarMini.is-opened {
    transform: translateX(60%); }

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer; }
  .button--white:hover {
    color: #29303b;
    background-color: transparent;
    border: 1px solid #29303b; }

.button--red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer; }
  .button--red:hover {
    color: #fff;
    background-color: #521822;
    border: 1px solid #521822; }

.button--dropup {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer; }
  .button--dropup:hover {
    color: #29303b;
    background-color: transparent;
    border: 1px solid #29303b; }

.cover {
  background-image: url(.././img/cover.jpg);
  height: 500px;
  position: relative; }
  .cover .cover__content {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%); }
    .cover .cover__content h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700; }
    .cover .cover__content p {
      color: #fff;
      font-size: 18px;
      font-weight: normal; }
    .cover .cover__content .cover__form .input-group {
      background-color: #fff;
      border-radius: 0.375rem; }
      .cover .cover__content .cover__form .input-group .form-control {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        transition: none;
        color: #505763; }
        .cover .cover__content .cover__form .input-group .form-control::placeholder {
          color: #505763; }
        .cover .cover__content .cover__form .input-group .form-control:focus {
          background-color: #fff;
          border-top-color: #fff;
          border-left-color: #fff;
          border-bottom-color: #fff; }
        .cover .cover__content .cover__form .input-group .form-control:focus + .input-group-text {
          background-color: #fff;
          border-top-color: #fff;
          border-right-color: #fff;
          border-bottom-color: #fff;
          color: #ec5252; }
          .cover .cover__content .cover__form .input-group .form-control:focus + .input-group-text:hover {
            color: #fff;
            background-color: #ec5252; }
      .cover .cover__content .cover__form .input-group .input-group-text {
        background-color: transparent;
        border-color: transparent;
        color: #ec5252; }
        .cover .cover__content .cover__form .input-group .input-group-text:hover {
          color: #fff;
          background-color: #ec5252; }
  @media screen and (max-width: 576px) {
    .cover .cover__content {
      max-width: 370px;
      left: 10%; } }

.card {
  height: 275px; }
  .card .card-body {
    padding: 1rem; }
    .card .card-body .card-title {
      color: #29303b;
      font-size: 14px;
      font-weight: 600; }
    .card .card-body .card-text {
      margin: 5px 0;
      color: #686f7a;
      font-size: 12px;
      font-weight: normal; }
    .card .card-body .card__stars i {
      color: #f4c150;
      font-size: 11px;
      font-weight: 900; }
    .card .card-body .card__stars span:nth-child(2) {
      color: #686f7a;
      font-size: 13px;
      font-weight: 600; }
    .card .card-body .card__stars span:nth-child(3) {
      color: #686f7a;
      font-size: 12px;
      font-weight: normal; }
    .card .card-body .card__price {
      text-align: right;
      padding: 10px 0; }
      .card .card-body .card__price span:nth-child(1) {
        color: #686f7a;
        font-size: 13px;
        font-weight: 15px;
        text-decoration: line-through; }
      .card .card-body .card__price span:nth-child(2) {
        color: #29303b;
        font-size: 15px;
        font-weight: 600; }

.card--feedback {
  height: 280px; }
  .card--feedback .card-body {
    padding: 2rem; }
    .card--feedback .card-body .card__top {
      display: flex;
      margin-bottom: 1rem; }
      .card--feedback .card-body .card__top .card__avatar {
        margin-right: 1rem; }
        .card--feedback .card-body .card__top .card__avatar img {
          width: 64px;
          height: 64px;
          border-radius: 50%; }
      .card--feedback .card-body .card__top .card__info .card__name {
        margin-bottom: 0; }
    .card--feedback .card-body .card-text {
      color: #29303b;
      font-size: 15px;
      font-weight: normal; }

.darkMode .card {
  background-color: #152e4d;
  border: 1px solid #344050; }
  .darkMode .card .card-body .card-title {
    color: #d8e2ef; }
  .darkMode .card .card-body .card-text {
    color: #9da9bb; }
  .darkMode .card .card-body .card__stars {
    color: #d8e2ef; }
    .darkMode .card .card-body .card__stars span:nth-child(2) {
      color: #d8e2ef; }
    .darkMode .card .card-body .card__stars span:nth-child(3) {
      color: #9da9bb; }
  .darkMode .card .card-body .card__price span:nth-child(1) {
    color: #9da9bb; }
  .darkMode .card .card-body .card__price span:nth-child(2) {
    color: #d8e2ef; }
.darkMode .card--feedback {
  background-color: #0e1c2f; }
  .darkMode .card--feedback .card-body .card__top .card__info .card__name {
    color: #d8e2ef; }

body.darkMode {
  color: #9da9bb;
  background-color: #061325; }

.darkMode .sidebarMini {
  background-color: #152e4d;
  color: #fff; }
  .darkMode .sidebarMini .sidebarMini__button {
    background-color: #152e4d;
    border-color: #152e4d;
    color: #fff; }
  .darkMode .sidebarMini .sidebarMini__content .switch .slider {
    background-color: #061325;
    box-shadow: 0 0 2px 3px #344050; }

.darkMode header .myNavbar {
  background-color: #0e1c2f; }
  .darkMode header .myNavbar .myNavbar__left .navbar-brand .logo-bgwhite {
    display: none; }
  .darkMode header .myNavbar .myNavbar__left .navbar-brand .logo-bgdark {
    display: inline-block !important; }
  .darkMode header .myNavbar .myNavbar__left .myNavbar__Categories {
    color: #9da9bb; }
    .darkMode header .myNavbar .myNavbar__left .myNavbar__Categories i {
      color: #d8e2ef; }
  .darkMode header .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group {
    background-color: #152e4d;
    border-radius: 0.375rem; }
    .darkMode header .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      transition: none;
      color: #d8e2ef; }
      .darkMode header .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control::placeholder {
        color: #d8e2ef; }
      .darkMode header .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control:focus {
        background-color: #132238;
        border-top-color: #344050;
        border-left-color: #344050;
        border-bottom-color: #344050; }
      .darkMode header .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control:focus + .input-group-text {
        background-color: #fff;
        border-top-color: #344050;
        border-right-color: #344050;
        border-bottom-color: #344050;
        color: #ec5252; }
        .darkMode header .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .form-control:focus + .input-group-text:hover {
          color: #fff;
          background-color: #ec5252; }
    .darkMode header .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .input-group-text {
      background-color: transparent;
      border-color: transparent;
      color: #ec5252; }
      .darkMode header .myNavbar .myNavbar__left .myNavbar__FormSearch1 .input-group .input-group-text:hover {
        color: #fff;
        background-color: #ec5252; }
  .darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item {
    border: 1px solid transparent; }
    .darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item .nav-link {
      color: #d8e2ef; }
    .darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item:hover {
      background-color: #152e4d;
      border: 1px solid #344050; }
    .darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item .overlay {
      background-color: #0e1c2f;
      border: 1px solid #344050; }
      .darkMode header .myNavbar .myNavbar__right .navbar-nav .nav-item .overlay::before {
        border-top: 1px solid #344050;
        border-left: 1px solid #344050;
        background-color: #0e1c2f; }
  .darkMode header .myNavbar .myNavbar__right .navbar-nav .myNavbar__button:hover {
    background-color: transparent;
    border-color: transparent; }
  .darkMode header .myNavbar .navbar-toggler {
    background-color: #d8e2ef; }

.darkMode .button--white:hover {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050; }
.darkMode .button--red:hover {
  color: #fff;
  background-color: #e63757;
  border: 1px solid #521822; }
.darkMode .button--dropup {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer; }
  .darkMode .button--dropup:hover {
    color: #d8e2ef;
    background-color: #132238;
    border: 1px solid #344050; }

.darkMode .courses .courses__content .courses__left {
  background-color: #132238; }
  .darkMode .courses .courses__content .courses__left h2 {
    color: #d8e2ef; }
.darkMode #myTab .nav-item .nav-link {
  color: #9da9bb !important; }
  .darkMode #myTab .nav-item .nav-link.active {
    background-color: transparent; }
  .darkMode #myTab .nav-item .nav-link:hover {
    color: #d8e2ef !important; }
.darkMode #myTab .nav-tabs {
  border-bottom: 1px solid #344050; }

.darkMode .categories .categories__content .categories__header h2 {
  color: #d8e2ef; }
.darkMode .categories .categories__content .categories__items {
  background-color: #132238;
  border-color: #344050;
  box-shadow: 0 3px 1px 0 #152e4d; }
  .darkMode .categories .categories__content .categories__items:hover {
    box-shadow: 0 0 3px 2px #152e4d; }

.darkMode .students {
  background-color: #132238; }
  .darkMode .students .student__header h2 {
    color: #d8e2ef; }

.darkMode .partners {
  background-color: #132238; }

.darkMode .jobs {
  background-color: #132238; }
  .darkMode .jobs .jobs__content .jobs__items h2 {
    color: #d8e2ef; }
  .darkMode .jobs .jobs__content .border-end {
    border-color: #344050 !important; }

.darkMode footer .footer__top .footer__nav .nav-item .nav-link {
  color: #d8e2ef; }
.darkMode footer .footer__top .btn-group .dropdown-menu {
  background-color: #132238;
  border-color: #344050; }
  .darkMode footer .footer__top .btn-group .dropdown-menu .dropdown-item {
    color: #d8e2ef; }
    .darkMode footer .footer__top .btn-group .dropdown-menu .dropdown-item:hover {
      background-color: #152e4d; }
.darkMode footer hr {
  background-color: #344050;
  color: #d8e2ef; }
.darkMode footer .footer__bottom .footer__bottomT .logo-bgwhite {
  display: none; }
.darkMode footer .footer__bottom .footer__bottomT .logo-bgdark {
  display: inline-block !important; }
.darkMode footer .footer__bottom .footer__bottomT span {
  color: #d8e2ef; }
.darkMode footer .footer__bottom .footer__bottomB .nav-item .nav-link {
  color: #d8e2ef; }

/*# sourceMappingURL=main.css.map */
