.students {
    padding: $mg-4 0;
    .student__content {
        .student__header {
            h2 {
                font-size: $fs-5;
                margin-bottom: $mg-2;
            }
        }
    }
}